.bg_color {
    background: #01A5A7;
}

.border_grey1 {
    border: 1px solid #B8B8B8 !important;
}

.color_white {
    color: #fff;
}

.color_yellow {
    color: #ffb300;
}

.color_pink {
    color: #ff0000;
}

.countries img {
    display: inline-block;
    margin: 0 10px 0 0;
}

.countries .active {
    border-bottom: #fff 2px solid;
}

.border_bottom_dotted {
    border-bottom: #fff 1px dotted;
}

.bgYellow {
    background: #FFB300 !important;
}

.bgDrkblue {
    background: #030065 !important;
}

.bgDrkPink {
    background: #B20768 !important;
}

.bgBusiGreen {
    background: #00A650 !important;
}

.bgDrkGrey {
    background: #333333 !important;
}

.bgOrange {
    background: #E07400 !important;
}

.bgSharPink {
    background: #F30B52 !important;
}

.bgRed {
    background: #FF3900 !important;
}

.section_sub_title h6 {
    color: #01A5A7 !important;
}

.em_bar_bg:before {
    background: #B20768 !important;
}

element.style {
    position: fixed;
    z-index: 2147483647;
}

#scrollUp {
    background: #FFB300 !important;
}

.slider_text_inner h5 {
    color: #FFB300 !important;
}

.owl-next i, .owl-prev i {
    opacity: 0.6;
}

.techno_menu>ul>li:hover {
    background: #01A5A7 !important;
}

.techno_menu>ul>li:hover a {
    color: #fff !important;
}

.techno_menu ul .sub-menu li a {
    color: #000 !important;
}

.slider_text_inner h1 {
    font-size: 38px!important;
}

.minheight380px {
    min-height: 380px !important;
}

.techno_flipbox_back.minheight380px p {
    color: #fff !important;
}

.clr_both {
    clear: both;
    display: block;
}

.vertical_top_it {
    position: relative;
    top: -25px;
}

.vertical_top_mobilApp {
    position: relative;
    top: -75px;
}

.vertical_top_webApp {
    position: relative;
    top: -75px;
}

.pos_relative {
    position: relative;
}

.pos_absolute {
    position: absolute;
}

.rightAlign {
    right: 0;
}

.leftAlign {
    left: 0;
}

.about_box_minheight {
    min-height: 185px!important;
}

.about_box_minheight2 {
    min-height: 165px!important;
}

.ai_box_minheight {
    min-height: 505px!important;
}

.ai_box_minheight2 {
    min-height: 270px!important;
}

.blockChain_Box_minHeight {
    min-height: 405px!important;
}

.blockChain_Box_minHeight2 {
    min-height: 305px!important;
}

.aws_Box_minHeight {
    min-height: 385px!important;
}

.react_Box_minHeight {
    min-height: 385px!important;
}

.itCons_Box_minHeight {
    min-height: 335px!important;
}

.mobiApp_Box_minHeight {
    min-height: 335px!important;
}

.webApp_Box_minHeight {
    min-height: 335px!important;
}

.uxui_Box_minHeight {
    min-height: 335px!important;
}

.inventory_Box_minHeight {
    min-height: 450px!important;
}

.mrBusiness_Box_minHeight {
    min-height: 450px!important;
}

.eCamp_Box_minHeight {
    min-height: 490px!important;
}

.invent .single_service_inner::before {
    height: 60px;
}

.em_bar_bg {
    background: #f4f4f4
}

.invent .single_service_content h4 {
    text-align: left;
    padding: 0 60px 0 70px;
}

.sticky {
    z-index: 999;
}

.sticky .nav_scroll li a {
    color: #fff;
}

.sticky .logo_img {
    display: none;
}

.sticky .main_sticky {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .no-js .owl-carousel, .owl-carousel.owl-loaded, .banner_area {
        display: block!important;
        clear: both;
    }
    .breatcome_area {
        display: none !important;
    }
    .mean-container .mean-bar::before {
        color: #fff;
        content: url('assets/images/logo2x.png');
        font-size: 22px;
        font-weight: 800;
        left: 10px;
        position: absolute;
        top: 0px;
        height: 60%;
    }
    .mean-container .mean-bar {
        background: #00247e !important;
        float: left;
        min-height: 60px;
        padding: 4px 0 0;
        position: relative;
        width: 100%;
        z-index: 999999;
    }
    /*Mobile menu bar */
    .line {
        width: 35px;
        height: 3px;
        margin: 7px 15px;
        background-color: #00247e;
    }
    .sticky .line {
        background-color: #fff;
    }
    .menu-toggle:hover {
        cursor: pointer;
    }
    .mobile-nav {
        margin: 39px 0 0 0;
    }
    .mobile-nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100%;
    }
    /* MOBILE ONE */
    .mobile-wrapper {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        position: relative;
        left: -15px;
        top: 20px;
    }
    .mobile {
        max-width: 100%;
        width: 80%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }
    .mobile-one {
        /* background: #44cba0;
        background: -webkit-linear-gradient(#44cba0, #44bfc6);
        background: -o-linear-gradient(#44cba0, #44bfc6);
        background: -moz-linear-gradient(#44cba0, #44bfc6);
        background: linear-gradient(#44cba0, #44bfc6); */
    }
    .mobile-one .mobile-nav {
        background-color: #FFB300;
        max-width: 100%;
        width: 70%;
        height: 100%;
        transform: translate(-100%, 0);
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .mobile-nav h2 {
        padding: 25px 20px;
    }
    .mobile-one .mobile-nav li {
        color: #989AA4;
        display: block;
        padding: 1px 0px;
        position: relative;
    }
    .mobile-one .mobile-nav li ul, .mobile-one .mobile-nav li ul li {
        width: 100%;
    }
    .mobile-one .mobile-nav li a:hover {
        /* background-color: #23252B; */
        color: #fff;
        /* border-left: 3px solid #44bfc6; */
        text-align: left;
    }
    .menuAlign {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .logoAlign {
        margin: 0 0 0 0px;
    }
    .sticky {
        z-index: 999;
    }
    .techno_menu ul {
        overflow: auto !important;
    }
    .logo {
        margin: 0 auto;
        width: 50%;
    }
}